[Desktop Entry]
Type=Application
Exec=systemctl restart wireplumber --user
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=AAC Bluetooth codec patch
Name=AAC Bluetooth codec patch
Comment[en_US]=Bluetooth patch for Airpods
Comment=Bluetooth patch for Airpods
